@import "../../node_modules/compass-mixins/lib/compass";
@import "settings";

* {
  @include box-sizing(border-box);
}

html, body, #app-wrapper, .app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: url('../images/background.png');
  font-family: 'Roboto Condensed', sans-serif;
  color: $gray-1;
}
