@import "../../../node_modules/compass-mixins/lib/compass";
@import "../../styles/settings";
@import "../../styles/mixins";

.login-form {
  @include modal();
  label, input {
    display: block;
    width: 100%;
  }

  .form-group {
    margin: 5px 0 20px;

    &.error {
      label {
        color: $red-1;
      }

      input {
        border: 1px solid $red-1;
        &:focus {
          border-color: $red-1;
        }
      }

      .error-message {
        height: initial;
        padding: 5px;
      }
    }
  }

  input {
    border: 1px solid $dark-1;
    padding: $input-padding;
    outline: none;
    font-size: 16px;
    transition: all 200ms linear;
    &:focus {
      border-color: $green-1;
    }
  }

  button {
    background: #fff;
    font-size: 15px;
    padding: 10px 40px;
    border: 0;
    display: block;
    margin: 0 0 0 auto;
    cursor: pointer;
    @include box-shadow($green-1 3px 3px 0, $green-2 6px 6px 0);
    transition: all 100ms linear;
    &:hover, &:focus {
      color: $gray-1;
      background: $green-1;
      @include box-shadow(none);
    }
  }

  .error-message {
    height: 0;
    display: block;
    color: $gray-1;
    background: $red-1;
    overflow: hidden;
    transition: all 100ms linear;
  }
}