@import "../../../node_modules/compass-mixins/lib/compass";
@import "../../styles/settings";
@import "../../styles/mixins";

.login-wrapper {
  height: 100%;
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(center);
  .login-modal {
    width: $login-width;
    @include align-self(center);
    h1 {
      font-size: 30px;
      font-weight: 300;
      margin: 0 0 15px;
    }
  }
}

@include mobile {
  .login-modal {
    width: 100%;
    margin: 0 15px;
  }
}
